<!DOCTYPE html>
<!--
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
     KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.
-->
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
        
        <link href="kendo/styles/kendo.mobile.all.min.css" rel="stylesheet" />
        
        <link rel="stylesheet" type="text/css" href="css/index.css" />
        
        <script type="text/javascript" src="cordova.js"></script>
        
        <script src="kendo/js/jquery.min.js"></script>
    	<script src="kendo/js/kendo.mobile.min.js"></script>

        <script src="angular/angular.min.js"></script>
        <script src="js/everlive.all.min.js"></script>
        <script src="js/spin.min.js"></script>
        
        <title>Dude App</title>
    </head>
    <body ng-app>
        <div class="app" data-role="view" id="home" ng-controller="HomeController">
            
            <div data-role="header"></div>
            
            <ul class="list" >
                <li>
                	<a ng-click="signup()" >signup</a>
                </li>
                <li>
                    <a ng-click="login()" >login</a>
                </li>
                
                <li>Dude</li>
                
            </ul>
           
        </div>
        
        <div class="app" data-role="view" id="signup" ng-controller="SignUpController">
              <ul class="list" ng-init="init()">
                <li>
                    <input type="text" placeholder="Choose Username" ng-model="username" />
                </li>
                <li>
                     <input type="number" placeholder="Choose Password" ng-model="password"/>
                </li>
                <li> 
                    <a ng-click="signup($event)"><span>{{message}}</span></a>
                    <div class="loader"/>
                </li>
                <li>
                	<a ng-click="home()">Go Back</a> 
                </li>
            </ul>
        </div>
        
        <div class="app" data-role="view" id="login">
               
        </div>
            
        <div class="app" data-role="view" id="main">
               
        </div>
        
        <script type="text/javascript" src="js/index.js"></script>
        
        <script src="controllers/home.js"></script>
		<script src="controllers/signup.js"></script>
       
    </body>
</html>
